{% extends "partials/base.html" %}

{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Регистрация в Carnival</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'authentication/fonts/material-icon/css/material-design-iconic-font.min.css'%}">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic"> 

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'authentication/css/style.css'%}">
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                       <p> Письмо с инструкциями по восстановлению пароля отправлено.
                        Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее время.
                        
                        Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и проверьте папку со спамом.</p>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'authentication/images/password-reset.png'%}" alt="sing up image"></figure>
                    </div>
                </div>
            </div>
        </section>


    </div>

    <!-- JS -->
    <script src="{% static 'authentication/vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'authentication/js/main.js'%}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
{% endblock %}