
    <header class="header">
        <a href="#" class="logo">Carnival </a>
  
        <nav class="navbar">
          <a href="{% url "home" %}">Главная</a>
          <a href="{% url "products" %}">Продукты</a>
          <a href="/#featured">Лучшие</a>
          <a href="/#contact">Связаться с нами</a>
        </nav>
  
        <div class="icons">
          <div id="menu-btn" class="fas fa-bars"></div>
          <div id="search-btn" class="fas fa-search"></div>
          <a href="{% url "cart" %}" class="fas fa-shopping-cart"></a>
          {% if not user.is_authenticated %}
          <a href="{% url "signup" %}" class="fas fa-user"></a>
          {% endif %}
          {% if user.is_authenticated %}
          <a href="{% url "logout" %}" class="fas fa-sign-out"></a>
          {% endif %}
        </div>
  
        <form method="GET" action="{% url 'search' %}" class="search-form">
          <input
            type="search"
            name="search"
            placeholder="search here..."
            id="search-box"
          />
          <label for="search-box" class="fas fa-search"></label>
        </form>
      </header>
