<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

    <form method='get' action='https://pay.freekassa.ru/'>
        <input type='hidden' name='m' value={{ m }}>
        <input type='hidden' name='oa' value={{ oa }}>
        <input type='hidden' name='o' value={{ o }}>
        <input type='hidden' name='s' value={{ s }}>
        <input type='hidden' name='currency' value={{ currency }}>
        <input type='hidden' name='i' value='1'>
        <input type='hidden' name='lang' value='ru'>
        <input type='submit' name='pay' value='Оплатить'>
    </form>

</body>
</html>