{% extends "partials/base.html" %}
{% load static %}
{% load product_tags %}
{% block content %}

    <!-- products section starts  -->

    <section class="products" id="products">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="filter-buttons">
          {% for a in first_topic_categories%}
          <div class="buttons active" data-filter="{{ a.title }}">
            <a class="buttons active" href = "{% url 'category-products' a.slug %}" style="color: #512A10">{{ a.title }}</a>
          </div>  
          {% endfor %}
          {% for c in categories %}
          {% if not c.first_in_the_topic %}
          <div class="buttons active" data-filter="{{ c.title }}">
            <a class="buttons active" href = "{% url 'category-products' c.slug %}" style="color: #512A10">{{ c.title }}</a>
          </div> 
          {% endif %}          
          {% endfor %}
        </div>
        <div class="box-container">
          
          {% for pr in products %}
          <div class="box" data-item="{{ pr.category }}">
            <div class="icons">
              <a href="{% url 'product-detail' pr.slug %}" class="fas fa-eye"></a>
            </div>
            <div class="image">
              <img src="{{ pr.product_image.url }}" alt="" />
            </div>
            <div class="content">
              <h3>{{ pr.product_name |truncatewords:5}}</h3>
              <div class="price">
                <div class="amount">{% call_sellprice pr.product_price pr.discount_percent %}₽ </div>
                <div class="cut">{{ pr.product_price }}₽ </div>
                <div class="offer">Скидка {{ pr.discount_percent }}%</div>
              </div>
            </div>
          </div>
          {% endfor %}
          </div>
        </div>
      </section>
  

{% endblock %}